footer {
    color: rgb(95, 95, 95);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

@media only screen and (min-width: 768px) {
    footer {
        bottom: 50px;
    }
}

@media only screen and (min-width: 992px) {
    footer {
        position: unset;
        transform: unset;
    }
}