.tasks__list {
    padding: 0;
    max-height: calc(100vh - 380px);
    overflow: scroll;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
    .tasks__list {
        max-height: calc(100vh - 470px);
    }
}

@media only screen and (min-width: 993px) {
    .tasks__list {
        max-height: 100%;
        overflow: unset;
    }
}